@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, white, rgb(201, 196, 196), rgb(183, 182, 182), grey, black);
    font-family: Arial, Helvetica, sans-serif;
    
}

img {
    min-width: 300px;
    max-width: 800px;
}

div.video {
    background-color: red;
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

header {
    background-image: linear-gradient(to right, red, yellow);
    text-align: center;
    padding: 30px;
    
    
}

header > h1 {
    color: white;
    text-shadow: 1px 1px 0px black;
}

header > h2 {
    color: white;
    text-shadow: 1px 1px 0px black;
}



nav {
    background-image: linear-gradient(to right, yellow, red);
    padding: 10px;
    font-weight: bolder;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.639);
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

nav a:hover {
    background-color: rgb(255, 128, 0);
    padding: 8px;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 2px 2px 4px black;
}

main {
    background-color: rgba(255, 255, 255, 0.652);
    padding: 20px;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid rgba(255, 255, 0, 0.319);
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.527);
    text-align: justify;
}

main article {
    background-image: linear-gradient(to right, grey, black);
    color: white;
    padding: 20px;
    
}

main  h2 {
    background-image: linear-gradient(to right, yellow, transparent);
    padding: 10px;
    color: black;
    border-radius: 5px 5px 0px 0px;

}

main img {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

main h4 {
    margin-top: 10px;
}

main p {
    background-color: rgba(255, 255, 255, 0.583);
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    color: black;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.71);
    text-indent: 2em;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    padding: 10px;
    background-color: red;
    color: white; 
    text-align: center;
}